Django==1.11.6
django-webpack-loader==0.5.0
protobuf3==0.2.1
pytz==2017.2
-e git+git@github.com:mfuery/mastercard-core-api-python.git@a983d247ccd92a5b264c2601df93ae7f9465cd2a#egg=mastercard_api_core
-e git+git@github.com:mfuery/mastercard_blockchain.git@eb7e1354dfaa3a2bafe6bd991f97aa922276ee47#egg=mastercard_blockchain