.card-list {
  font-family: $font;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  border-top: 1px solid $border-color;
}

.card {
  background-color: white;
  border-bottom: 1px solid $border-color;
  display: flex;
  padding: 15px 0;
  cursor: pointer;
  &:hover {
    background-color: $bg-color;
  }
  .card-name {
    flex: 1;
  }
  .card-desc {
    flex: 1;
  }
}

